.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.login-forms {
    border: 1px solid gray;
    width: 400px;
    text-align: center;
    padding: 20px 70px;
}

.username,
.password {
    /* margin-bottom: 20px; */
}

.login-button {}